@page "/profile/{id:int}"
@using Domain.DTOs
@using Domain.DTOs.Member
@using Domain.DTOs.Team
@using Domain.Models
@using HttpClients.ClientInterfaces
@using Microsoft.AspNetCore.Components
@using System.Globalization
@using UIComponents
@using Radzen
@using Radzen.Blazor
@using System.ComponentModel.Design
@inject IMemberService memberService
@inject ITeamService teamService
@inject IAuthService authService
@inject NavigationManager navMgr

@if (member == null)
{
    <label>Loading member profile..</label>
}
else  {
    <AuthorizeView>
        <NotAuthorized><label>You must be logged in to perform that action</label></NotAuthorized>
        <Authorized>
            <h3>Profile - @member.FullName</h3>
            @if (@context.User.Claims.First(c => c.Type.Equals("Id")).Value.Equals(member.Id.ToString()))
            {
                <div class="editProfile">
                    <button class="acceptbtn" @onclick="@(() => navMgr.NavigateTo($"/EditProfile/{@context.User.Claims.First(c => c.Type.Equals("Id")).Value}"))">Edit profile</button>
                    <button class="deletebtn" @onclick="DeleteProfile">Delete profile</button>
                </div>
            }
            <div class="details">
                <table>
                    <tr>
                        <td><b>Full name:</b></td>
                        <td>@member.FullName</td>
                    </tr>
                    <tr>
                        <td><b>User name:</b></td>
                        <td>@member.UserName</td>
                    </tr>
                    <tr>
                        <td><b>Email:</b></td>
                        <td><a href="mailto:@member.Email">@member.Email</a></td>
                    </tr>
                </table>
            </div>
            <div class="user-teams">
                <h3>Teams</h3>
                @if (memberTeams.Count() == 0)
                {
                    <label>This user does not belong to any teams.</label>
                }
                else
                {
                    @foreach (TeamBasicDTO team in memberTeams)
                    {
                        <div class="team-card" @onclick="@(() => navMgr.NavigateTo($"/team/{team.Id}"))">
                            <div id="teamName">@team.Name</div>
                            <label id="teamLeaderName">@team.TeamLeaderName</label>
                        </div>
                    }
                }
            </div>
            <div class="availability">
                <hr/>
                <h3>Availability</h3>
                <RadzenScheduler Data="@availabilityEntities" TItem="AvailabilityEntity" StartProperty="startHour" EndProperty="endHour" TextProperty="memberName">
                    <RadzenWeekView />
                </RadzenScheduler>
            </div>

            <Popup ShowPopup="showPopup">
                <h3>Warning</h3>
                <label>You are about to delete your profile. Confirm that action by typing <b>@context.User.Identity.Name</b> in field below.</label>
                <input type="text" @bind="removeConfirmation" @bind:event="oninput"/>
                <button disabled="@(string.IsNullOrEmpty(removeConfirmation) || !removeConfirmation.Equals(context.User.Identity.Name))" @onclick="Proceed">Confirm</button>
            </Popup>
        </Authorized>
    </AuthorizeView>   
}

<style>
    .rz-button rz-next{
        opacity: 0 !important;
        pointer-events: none !important;
    }
    
    .rz-scheduler-nav{
        pointer-events: none !important;
      cursor: not-allowed !important;
      opacity: 0 !important;
      filter: alpha(opacity=65) !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }

    .rz-scheduler {
        height: 768px;
    }
</style>

@code {
    [Parameter]
    public int Id { get; set; }
    private string msg = "";

    private MemberBasicDTO member = null!;
    private IEnumerable<AvailabilityEntity> availabilityEntities { get; set; }
    private IEnumerable<TeamBasicDTO> memberTeams = null!;

    private bool showPopup = false;
    private string removeConfirmation = "";


    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            member = await memberService.GetByIdAsync(Id);

            if(member.Availability == null) {
                availabilityEntities = new List<AvailabilityEntity>();
            } else {
                Console.WriteLine(member.Availability.First().endHour);
                availabilityEntities = member.Availability;
            }

            Console.WriteLine(System.Globalization.CultureInfo.CurrentCulture);

            memberTeams = await teamService.GetByUserIdAsync(Id);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

    private void DeleteProfile() {
        showPopup = true;
    }

    private async Task Proceed()
    {
        msg = "";
        try
        {
            await memberService.DeleteAsync(member.Id);
            await authService.LogoutAsync();
            navMgr.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }    
}
