@page "/project/{id:int}"
@using Domain.DTOs
@using Domain.DTOs.Meeting
@using Domain.DTOs.Task
@using Domain.Models
@using HttpClients.ClientInterfaces
@using Microsoft.AspNetCore.Components
@using UIComponents
@using Radzen
@using Radzen.Blazor
@inject IProjectService projectService
@inject IMeetingService meetingService
@inject ITaskService taskService
@inject NavigationManager navMgr

<AuthorizeView>
    <NotAuthorized>
        <label>You must be logged in to perform that action</label>
    </NotAuthorized>
    <Authorized>
        @if(projectLoaded == null) {
            <h3>Loading...</h3>
        } else {
            @if (@context.User.Claims.First(c => c.Type.Equals("Id")).Value.Equals(projectLoaded.Team.TeamLeader.Id.ToString()))
            {
                <div class="editProfile">
                    <button class="acceptbtn" @onclick="@(() => navMgr.NavigateTo($"/editProject/{Id}"))">Edit project</button>
                    <button class="deletebtn" @onclick="@(() => navMgr.NavigateTo("/"))">Delete project</button>
                </div>
            }
            <h3>@projectLoaded.Name</h3>
            <hr />
            <TabControl>
                <TabPage Text="Calendar">
                    @if (@context.User.Claims.First(c => c.Type.Equals("Id")).Value.Equals(projectLoaded.Team.TeamLeader.Id.ToString()))
                    {
                        <button class="acceptbtn" @onclick="@(() => meetingPopup.CreatePopup.Show())">Create meeting</button>
                    }
                    <RadzenScheduler style="height: 768px;" Data="@meetings" TItem="MeetingEntity" StartProperty="StartDate" EndProperty="EndDate"
                                 TextProperty="Title" SelectedIndex="2" AppointmentSelect="OnMeetingSelect">
                        <RadzenDayView />
                        <RadzenWeekView />
                        <RadzenMonthView />
                    </RadzenScheduler>
                </TabPage>
                <TabPage Text="Board">
                    <button class="acceptbtn" @onclick="@(() => taskPopup.CreatePopup.Show())">Create task</button>
                    @if(tasks.Count() == 0) {
                        <p>There are no tasks yet for this project.</p>
                    }
                    else {
                        <div class="container">
                            <div class="row">
                                <div class="col-4">
                                    <h4>Todo:</h4>
                                    @foreach (TaskEntity task in tasks.Where(task => task.Status.Equals("Todo")))
                                        {
                                        <div class="task todo" @onclick="(() => OnTaskSelect(task))">
                                                <p id="title">@task.Title</p>
                                                @if(task.memberAssigned != null) {
                                                    <p id="assigned">Assigned to: @task.memberAssigned.FullName</p>
                                                } else {
                                                    <p id="assigned">Not assigned yet</p>
                                                }
                                                <p id="timeest">Time estimated: @task.TimeEstimation.TimeOfDay</p>
                                            </div>
                                        }
                                </div>
                                <div class="col-4">
                                    <h4>In progress:</h4>
                                    @foreach (TaskEntity task in tasks.Where(task => task.Status.Equals("In progress")))
                                    {
                                        <div class="task inprogress"@onclick="(() => OnTaskSelect(task))">
                                            <p id="title">@task.Title</p>
                                            @if(task.memberAssigned != null) {
                                                    <p id="assigned">Assigned to: @task.memberAssigned.FullName</p>
                                            } else {
                                                <p id="assigned">Not assigned yet</p>
                                            }
                                            <p id="timeest">Time estimated: @task.TimeEstimation.TimeOfDay</p>
                                        </div>
                                    }
                                </div>
                                <div class="col-4">
                                    <h4>Completed:</h4>
                                    @foreach (TaskEntity task in tasks.Where(task => task.Status.Equals("Completed")))
                                    {
                                        <div class="task completed" @onclick="(() => OnTaskSelect(task))">
                                            <p id="title">@task.Title</p>
                                            @if(task.memberAssigned != null) {
                                                    <p id="assigned">Assigned to: @task.memberAssigned.FullName</p>
                                            } else {
                                                <p id="assigned">Not assigned yet</p>
                                            }
                                            <p id="timeest">Time estimated: @task.TimeEstimation.TimeOfDay</p>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </TabPage>
                <TabPage Text="Requirements">
                    @if(projectLoaded.Requirements.Count() == 0) {
                        <p>This project does not have any requirements</p>
                    } else {
                        @foreach (RequirementEntity requirement in projectLoaded.Requirements)
                        {
                            <div class="card">
                                <p style="border: 1px solid; padding: 5px">@requirement.content</p>
                            </div>
                        }
                    }                    
                </TabPage>
            </TabControl>
        }

        <MeetingPopup @ref="meetingPopup" ProjectLoaded="projectLoaded" CreateMeetingDTO="createMeetingDTO" SelectedMeeting="selectedMeeting" UpdateView="UpdateCalendar"></MeetingPopup>

        <TaskPopup @ref="taskPopup" ProjectLoaded="projectLoaded" CreateTaskDTO="createTaskDTO" SelectedTask="selectedTask" UpdateView="UpdateBoard"></TaskPopup>

    </Authorized>
</AuthorizeView>

@code {
    [Parameter]
    public int Id { get; set; }
    private string msg = "";

    private MeetingCreateDTO createMeetingDTO = new MeetingCreateDTO();
    private MeetingEntity selectedMeeting { get; set; }

    private TaskCreateDTO createTaskDTO = new TaskCreateDTO();
    private TaskEntity selectedTask { get; set; }

    private TaskPopup taskPopup;
    private MeetingPopup meetingPopup;

    private ICollection<MeetingEntity> meetings { get; set; }
    private ICollection<TaskEntity> tasks { get; set; }
    private ProjectEntity projectLoaded { get; set; }

    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            projectLoaded = await projectService.GetByIdAsync(Id);
            meetings = await meetingService.GetByProjectIdAsync(Id);
            tasks = await taskService.GetByProjectIdAsync(Id);

            createMeetingDTO.AssignedLeader = projectLoaded.Team.TeamLeader.Id;
            createMeetingDTO.StartDate = DateTime.Now;
            createMeetingDTO.EndDate = DateTime.Now.AddHours(1);
            createMeetingDTO.ProjectAssigned = Id;

            createTaskDTO.projectAssigned = Id;
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }


    private void OnTaskSelect(TaskEntity task) {
        selectedTask = task;

        taskPopup.DetailsPopup.Show();
    }

    private void OnMeetingSelect(SchedulerAppointmentSelectEventArgs<MeetingEntity> args)
    {
        selectedMeeting = args.Data;

        meetingPopup.DetailsPopup.Show();
    }


    private async Task UpdateCalendar() {
        try
        {
            meetings = await meetingService.GetByProjectIdAsync(Id);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

    private async Task UpdateBoard() {
        try
        {
            tasks = await taskService.GetByProjectIdAsync(Id);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
}
